@font-face {
  font-family: "l";
  src: url(fonts/l);
}
@font-face {
  font-family: "l-2";
  src: url(fonts/l-2);
}
:root {
  --yellow: #f3c77c;
  --textYellow: #e7cfb1;
  --prime: #151414;
}
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
html,
body {
  height: 100%;
  width: 100%;
}
#main {
  width: 100%;
  position: relative;
  /* overflow: hidden; */
  background-color: var(--prime);
}
#loader {
  width: 100%;
  height: 100vh;
  background-color: var(--yellow);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 99;
  /* display: none; */
}
.img-box {
  position: relative;
  width: 300px;
  height: 300px;
}
.img-box img {
  position: absolute;
}
/* ------------container-first----------- */
#container-first {
  height: 100vh;
  width: 100%;
  position: relative;
  /* display: none; */
}
nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5vw;
  /* display: none; */
}
.nav .nav-right {
  cursor: pointer;
}
nav .nav-right a {
  color: var(--yellow);
  font-size: 1.5vw;
  text-decoration: none;
  margin-left: 5vw;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100 !important;
}
.hero {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 20%;
  /* padding-left: 35vw;
  padding-right: 35vw; */
  position: absolute;
  pointer-events: none;
  /* background-color: rebeccapurple; */
  height: 40vw;
}
.hero h1 span {
  font-size: 45vw;
  font-family: "l";
  /* background-color: red; */
  color: var(--yellow);
  transform: translateY(100%);
  /* margin: 0vw 15vw 0vw 15vw; */
  display: inline-block;
}
/* .hero h1 span{
  display: inline-block;
} */
.down-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 5%;
  width: 100%;
}
.down-hero .hero-da {
  width: fit-content;
}
.down-hero .hero-da h4 {
  font-size: 3vw;
  letter-spacing: -0.1;
  font-family: "l";
  line-height: 1;
  font-weight: 100;
  color: var(--yellow);
}
/* ----------container-second---------------- */

#conatainer-second {
  width: 100%;
  height: 100vh;
  display: flex;
  align-self: center;
  justify-content: center;
  /* display: none; */
}
.video-box {
  height: 100%;
  width: 40%;
}
.video-box video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* ----------container-third---------------- */

#container-third {
  width: 100%;
  height: 100vh;
  /* background-color: whitesmoke; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* display: none; */
}
#container-third .text-mom {
  /* text-align: center; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* background-color: red; */
  /* border: 1px solid black; */
  height: 11vw;
  line-height: 1;
  overflow: hidden;
}
#container-third h1 span {
  font-family: "l-2";
}
#container-third h1 {
  font-size: 13vw;
  font-family: Arial, Helvetica, sans-serif;
  transform: translateY(100%);
  letter-spacing: 0.5;
  color: var(--textYellow);
}
#container-third .text-mom:nth-child(3) {
  padding-left: 26vw;
}
/* ----------container-four---------------- */

#container-four {
  width: 100%;
  height: 100vh;
  background-color: #9acba1;
  display: none;
}
#container-four .mousefollow {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--prime);
  color: white;
  border-radius: 50%;
  font-size: 2.5vw;
  position: fixed;
  transform: translate(-50%, -50%);
}
/* ----------container-five---------------- */
#container-five {
  width: 100%;
  height: 100vh;
  background-color: #9ac1cb;
  display: flex;
  align-items: center;
  /* display: none; */
}
#container-five h1 {
  font-size: min(51vw, 82vh);
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: -2vw;
  line-height: 0.8;
  padding: 0 8vw;
  text-indent: -4vw;
  text-transform: uppercase;
  white-space: nowrap;
  will-change: transform;
}
/* ------------container-six---------------- */

#container-six {
  width: 100%;
  height: 50vh;
  background-color: #9ac1cb;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* display: none; */
}
.stret-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.stret-row .stret-hed h1 {
  font-weight: 300;
  font-size: 1.8vw;
}
.stret-row .stret-links h2 {
  font-weight: 100;
  margin-bottom: 3px;
  font-size: 1.5vw;
  color: #384245;
}
/* ------------container-seven---------------- */
#container-seven {
  width: 100%;
  min-height: 100vh;
  padding: 10vw;
  background-color: red;
  display: grid;
  grid-template-columns: repeat(3) 1fr;
  grid-template-rows: repeat(3) 1fr;
  /* display: none; */
}
/* ------------container-eight---------------- */
#container-eight {
  width: 100%;
  height: 100vh;
  background-color: #e7cfb1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* display: none; */
}
#container-eight .eight-hed {
  width: fit-content;
  height: 5vw;
  overflow: hidden;
}
#container-eight .eight-hed h1 {
  font-size: 5vw;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  letter-spacing: -1px;
  word-spacing: 0.8vw;
  transform: translate(0%, 100%);
}
video {
  width: 400px;
}
footer {
  width: 100%;
  height: 35vh;
  background-color: #151414;
  padding: 2vw;
}
footer .foot-hed {
}
footer .foot-hed h1 {
  font-size: 6vw;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  letter-spacing: -5px;
  color: #695f53;
}
footer .foot-hed h1 span {
  position: relative;
  color: #e7cfb1;
  display: inline-block;
}
footer .foot-hed h1 span::before {
  position: absolute;
  width: 100px;
  height: 100px;
  /* top: 0; */
  /* left: 0; */
  /* transform: translate(-50%); */
}
.foot-nav {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5%;
}
.foot-nav a {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  color: white;
  text-decoration: none;
  font-size: 1vw;
}
